{
  "sourceMaps": true,
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "production": {
      "ignore": ["**/*.spec.js"]
    }
  }
}
