{
  "sourceMaps": true,
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.spec.js"
      ]
    }
  }
}
